NEXT_PUBLIC_SUPABASE_URL=https://ohmyalwztlugwftoqjgm.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9obXlhbHd6dGx1Z3dmdG9xamdtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI5MDI3MTEsImV4cCI6MjA4ODQ3ODcxMX0.YhgcTS5De-pEUqJR7ClNJuf74In0EhiKnWLAu570q0c
NEXT_PUBLIC_ADMIN_PASSWORD=qwp-admin-2026
NEXT_PUBLIC_ANTHROPIC_API_KEY=
OPENAI_API_KEY=sk-...
